* {
  font-family: 'Kurale', sans-serif;
  padding: 9px;
  color: gray;
  border-radius: 5px;
}

body {
    background: #e6e6ff;
}

body > header {
  background: url("#{resource['img:map.jpg']}");
  border-radius: 10px;  
  box-shadow: 5px 5px 9px gray;
}

body > footer {
    font-size: small;
    text-align: right;
    bottom: 10px; /* Position the footer at the bottom of the page */
    z-index: 3;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: gray;
}

.title {
  font-size: xx-large;
  text-shadow: 0 0 10px white, 0 0 20px white;
}

.navigation {
  font-size: small;
  background: rgba(255, 255, 255, 0.8);
}

.signOutButton {
  float: right;
  padding: 0px 9px;
}

.language {
  text-align: right;
  padding: 0;
}

thead {
  text-align: left;
  text-shadow: 0 0 20px white, 0 0 20px white;
}

tbody {
  font-size: small;
}

.searchTable > tbody > tr {
  background: rgba(255, 255, 255, 0.3);
}

.searchTable {
  border-collapse:separate; 
  border-spacing:0 15px; 
}

input:not([type='image']), textarea {
  width: 200px;
  margin-right: 9px;
  border: #bfbfbf solid 1px;
}

input:not([type='image']):hover{
  background: rgba(255, 255, 255, 0.5);
}

input[type='image']{
  width: 30px;
  height: 25px;
}

input[type='image']:hover{
  opacity: 0.8;
}

.info{
	color: green;
}

.warn{
	color: orange;
}

.error{
	color: red;
}

.fatal{
	color: purple;
}