* {
  font-family: sans-serif;
  padding: 9px;
  color: gray;
}
body > header {
  background: url("#{resource['img:blue.jpg']}");
  border-radius: 10px;  
  box-shadow: 5px 5px 9px gray;
}
a {
  color: black;
  text-decoration: none;
}
a:hover, .title {
  color: white;
  text-shadow: 0 0 10px white, 0 0 20px white;
}
input:not([type='image']), textarea {
  width: 200px;
}

input[type='image']{
  width: 37px;
  height: 31px;
}

.info{
	color: green;
}

.warn{
	color: orange;
}

.error{
	color: red;
}

.fatal{
	color: purple;
}